.clients {
	text-align: center;
	padding: 94px 0px;
	@media screen and(max-width:1199px){
		padding: 60px 0px;
	}
}

.clients-titel {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	margin-bottom: 50px;

	color: $Primary-text-color;
}

.clients-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media screen and (max-width: 1199px) {
		flex-wrap: wrap;
		margin: -15px;
	}
}
.clients-item{
	@media screen and (max-width: 767px) {
		width: calc((100% - 4 * 15px) / 2);
		margin: 15px;
	}
	@media screen and (max-width: 1199px) {
		width: calc((100% - 6 * 15px) / 3);
		margin: 15px;
	}
}

.cliens-link {
	border: 1px solid #AFB1B8;
	border-radius: 4px;
	display: block;
	height: 92px;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: #AFB1B8;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		fill: $Accent;
		border: 1px solid $Accent;
	}
	@media screen and(min-width:1199px){
		width: 170px;
	}
}