.footer {
	background-color: #2F303A;
	padding: 60px 0;
}

.footer-wrapper {
	@media screen and (min-width: 768px) {
		display: flex;
		align-items: baseline;
	}

	@media screen and(max-width:1199px) {
		justify-content: center;
		flex-wrap: wrap;
	}

	@media screen and(max-width:767px) {
		text-align: center;
	}

}

.logo-footer {
	color: $White-color;
	font-style: normal;
}

.address {
	margin-bottom: 60px;

	@media screen and(min-width: 768px) {
		margin-right: 100px;
	}

}

.address-list {
	margin-top: 20px;
}

.address-link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	color: $White-color;
}

.address-link--rgbg {
	color: rgba(255, 255, 255, 0.6);

	&:not(:last-child) {
		margin-bottom: 9px;
	}
}

.join-titel {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: $White-color;
	margin-bottom: 20px;

	@media screen and(max-width:1199px) {
		text-align: center;
	}
}

.join {
	margin-bottom: 60px;
}

.join-list {
	display: flex;
	align-items: center;

	@media screen and(max-width:767px) {
		justify-content: center;
	}
}

.join-item:not(:last-child) {
	margin-right: 10px;
}

.join-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background: $Accent;
	}
}

.join-icon {
	fill: $White-color;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background: rgba(0, 0, 0, 0.2);
}

.newsletter {
	@media screen and(min-width:1200px) {
		text-align: left;
		margin-left: auto;
	}

}

.newsletter-titel {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: $White-color;

	@media screen and(max-width:1199px) {
		text-align: center;
	}

}

.newsletter-wrapper {
	display: flex;
	align-items: center;

	@media screen and(max-width:1199px) {
		flex-direction: column;
	}

}

.newsletter-input {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);

	width: 100%;
	padding: 16px;
	background: transparent;
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	@media screen and(min-width:767px) {
		width: 450px;
	}

	@media screen and(min-width:1200px) {
		margin-right: 12px;
		width: 358px;
	}

	@media screen and(max-width:1199px) {
		margin-bottom: 20px;

	}

}

.newsletter-btn {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	background: $Accent;
	color: $White-color;
	padding: 13px 20px;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
}

.newsletter-icon {
	margin-left: 12px;
}