.hero {

	background-image: linear-gradient(to right,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
	background-size: cover;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	height: 600px;
	max-width: 1600px;
	background-color: #2F303A;
	text-align: center;
	padding-top: 200px;
}

.hero-title {
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-align: center;

	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: $White-color;
	margin-bottom: 30px;
}

.primery-btn {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;

	letter-spacing: 0.06em;
	color: $White-color;
	background-color: $Accent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-color: transparent;
	padding: 10px 32px;
	cursor: pointer;
}